
.nav {
  grid-area:nav;
  background-color: rgba(144, 180, 178, 0.76);
  padding: 10px;
}

.nav_item a {
  color: rgb(221, 106, 106);
  text-decoration: none;
}

.nav_item a.active {
  color: rgb(65, 62, 47);
}



