
.header {
  grid-area:v;
  background-color: rgba(32, 30, 28, 0.333);
   
}


.over {
  grid-area:over;
  background-color: rgba(221, 196, 149, 0.76);
}

.over img {
  width: 50px;
}



.nav {
  grid-area:nav;
  background-color: rgba(78, 95, 94, 0.76)
}

.nav_item {
  color: rgb(137, 231, 231);
  font-size: 20px;
}

